version: "3.0"

volumes:
  db-store:

services:
  app:
    build: 
      context: .
      dockerfile: ./infra/php/Dockerfile
    volumes:
      - ./backend:/work
      - /work/vendor
      - /work/storage
    ports:
      - 9000:9000
    depends_on:
      - db


  # 餈質
  web:
    image: nginx:1.18-alpine
    ports:
      - 80:80
    depends_on:
      - app
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./backend:/work
    working_dir: /work

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=secret
    ports:
    - 8080:80
    depends_on:
      - db

  # 餈質
  db:
    build: ./infra/mysql
    volumes:
      - db-store:/var/lib/mysql
    ports:
    - 3306:3306
